
.about{
    position:absolute;
    color:rgba(16, 71, 78, 0.597);
    margin-top: -570px;
    margin-left: 80px;
    width: 600px;
}

.pic1{
    width: 600px;
    height:600px;
    margin-top: 100px;
    margin-left: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("pic1.jpg");
}
.mission{
    margin-left: 720px;
    margin-top: -580px;
    width: 480px;
    color: rgb(145, 145, 165);
    }
