.btn1{
    background-color: inherit;
    border: none;
    font-style: italic;
    font-weight: bolder;
    font-size:large;
    color: white;
}
.btn2{
    background-color: inherit;
    border: none;
    font-size:medium;
    font-weight: 500;
    color: white; 
    margin-top:-2px;
    margin-left: 15px;
}